body {
    box-sizing: content-box;
    font-size: 17px;
}

/***NAVBAR***/
.navbar {
    background-color: #282a35;
    border-radius: 0;
}
.navbar-brand {
    font-size: 24px;
    color: white;
    text-align: center;
    font-family: 'Staatliches', cursive;
}
.navbar-brand:hover {
    color: greenyellow;
}
.icon-bar {
    background-color: white;
    border: white;
}
.navbar-toggle {
    border-color: white;
}
li a {
    font-size: 17px;
    color: white;
    text-align: center;
    font-family: 'Staatliches', cursive;
}
/***NAVBAR END***/

/***MAIN CONTENT***/
.main-tittle {
    font-weight: bolder;
    color: tomato;
    text-align: center;
    font-family: 'Staatliches', cursive;
}
.content-box {
    background-color: whitesmoke;
    border: 2px solid black;
    margin-bottom: 30px;
    padding: 20px;
    font-family: 'Staatliches', cursive;
}
.item-name {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}
.return {
    color: dodgerblue;
    text-decoration: underline;
    white-space: nowrap;
}
/***MAIN CONTENT END***/
